.pagination {
    display: flex;
    margin: 30px auto;
    width: fit-content;
    padding: 3px 2px;
}

.pagination .active,
.pagination .notactive {
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}

.pagination .active {
    background-color: #BB8493;
}

.pagination .notactive {
    background-color: transparent;
}

.pagination .next,
.pagination .prev {
    background-color: transparent;
    padding: 5px 12px;
    color: #fff;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pagination .next .next-arrow,
.pagination .prev .prev-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 3px;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
}

.pagination .next .next-arrow {
    transform: rotate(45deg);
}

.pagination .prev .prev-arrow {
    transform: rotate(-135deg);
}

.pagination .prev:hover,
.pagination .next:hover {
    color: #d698a9;
}

.pagination .next:hover .next-arrow,
.pagination .prev:hover .prev-arrow {
    border-top: 2px solid #d698a9;
    border-right: 2px solid #d698a9;
}

.pagination .next:disabled .next-arrow,
.pagination .prev:disabled .prev-arrow {
    border-top: 2px solid rgb(65, 65, 65);
    border-right: 2px solid rgb(65, 65, 65);
}

.pagination .prev:disabled,
.pagination .next:disabled {
    padding: 5px 12px;
    color: rgb(65, 65, 65);
}