.information {
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: inherit;
}

.information .inner {
    position: fixed;
    margin: 10px;
    background-color: rgb(33, 33, 56);
    padding: 25px;
    top: 25%;
    font-display: flex;
    justify-content: center;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #cfd8e9;
    font-family: inherit;
    width: 400px;
    box-shadow: 0 4px 4px 0 rgba(7, 5, 15, 0.1), 0 8px 8px 0 rgba(7, 5, 15, 0.1), 0 16px 16px 0 rgba(7, 5, 15, 0.1), 0 32px 32px 0 rgba(7, 5, 15, 0.1), 0 64px 64px 0 rgba(7, 5, 15, 0.1), 0 128px 128px 0 rgba(7, 5, 15, 0.1);
}

.information .inner .close {
    border: none;
    border-radius: 12px;
    padding: 10px 17px;
    background-color: #824D74;
    font-size: 12px;
    color: #d2dcee;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.information .inner .close:hover {
    background-color: #9b4885;
}

.envelope {
    position: relative;
    padding: 10px;
}

.envelope .count {
    position: absolute;
    background-color: #D27685;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    top: -10px;
    right: 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    animation: pulse 2s infinite;
}

.envelope .icon {
    width: 30px;
    height: 30px;
}

.envelope .icon img {
    width: 100%;
    height: 30px;
    object-fit: cover;
}

.confirm {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 30%;
    font-family: inherit;
}

.confirm .inner {
    background-color: #212335;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 40px 20px;
    border-radius: 12px;
}

.confirm .inner .number {
    font-size: 18px;
    font-weight: 400;
    color: #e3eaf7;
    margin-bottom: 20px;
}

.confirm .inner .number span {
    font-size: 24px;
    font-weight: 600;
    color: #e3eaf7;
}

.confirm .inner .buttons {}

.confirm .inner .buttons .yes,
.confirm .inner .buttons .no {
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    color: #ffffff;
    font-size: 12px;
}

.confirm .inner .buttons .yes {
    background-color: #3e29bf;
    transition: all .5s ease-in-out;
}

.confirm .inner .buttons .yes:hover {
    background-color: #523cde;
}

.confirm .inner .buttons .no {
    background-color: #9f2f32;
    transition: all .5s ease-in-out;
}

.confirm .inner .buttons .no:hover {
    background-color: hsl(358, 52%, 48%);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(139, 92, 54, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(245, 185, 145, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(239, 148, 92, 0);
    }
}

@media (max-width: 500px) {
    .information .inner {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .information .inner {
        width: 250px;
    }
}