.chat {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 550px;
    background-color: darkslategrey;
    padding: 20px;
}

.chat .close {
    color: rgb(232, 194, 42);
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.chat .close:hover {
    color: rgb(126, 5, 62);
}

.chat .messages {
    padding: 5px;
    background-color: green;
    width: 100%;
    height: calc(100% - 55px);
    margin-bottom: 10px;
    overflow-y: scroll;
}

.chat .input {
    height: 40px;
    padding: 2px;
    width: 100%;
    display: flex;
    background-color: blue;
}

.chat .input input {
    width: 100%;
    padding: 3px 60px 3px 10px;
    font-size: 13px;
    font-family: inherit;
}

.chat .messages .menu {
    background-color: darkslategrey;
}

.chat .messages .inactive {
    display: none;
}

.chat .messages .left,
.chat .messages .right {
    width: fit-content;
    border-radius: 6px;
    margin: 20px;
    position: relative;
    cursor: pointer;
}

.chat .messages .left {
    background-color: rgb(6, 127, 99);
    margin-left: 0;
    margin-right: auto;
}

.chat .messages .right {
    background-color: dodgerblue;
    margin-left: auto;
    margin-right: 0;
}