.participants .item {
    padding: 10px 20px;
    background-color: rgb(5, 32, 119);
    cursor: pointer;
    border-bottom: 1px solid rgb(9, 77, 52);
}

.participants .item-active {
    padding: 10px 20px;
    background-color: rgb(40, 69, 234);
    cursor: pointer;
    border-bottom: 1px solid rgb(9, 77, 52);
}

.participants .item:hover {
    background-color: rgb(64, 84, 105);
}

.participants .user {
    display: flex;
    align-items: center;
}

.participants .user .avatar {
    width: 55px;
    height: 55px;
}

.participants .user .avatar img {
    width: 100%;
    object-fit: cover;
}