.participants {}

.participants .item {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #212335;
    margin-bottom: 12px;
    border-radius: 8px;
    border-bottom: 4px solid #191b29;
}

.participants .item-active {
    padding: 8px 20px;
    background-color: #1d1e30;
    border-bottom: 4px solid #fd8841;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 8px;
}

.participants .item:hover {
    background-color: rgb(64, 84, 105);
}

.participants .user {
    display: flex;
    align-items: center;
    font-family: inherit;
    position: relative;
}

.participants .user .count {
    position: absolute;
    width: 50px;
    background-color: lightblue;
}

.participants .user .avatar {
    width: 45px;
    height: 45px;
    margin-right: 7px;
}

.participants .user .avatar img {
    object-fit: cover;
    width: 100%;
    height: 45px;
    border-radius: 50%;
}

.participants .user .info .ticket {
    color: #a5b2cb;
    font-size: 14px;
    font-weight: 600;
}

.participants .user .info .email {
    color: #5f6879;
    font-size: 12px;
    margin-bottom: 10px;
}

.participants .user .info .message {
    color: #d0d7e3;
    font-size: 13px;
}