.list-messages {
    font-family: inherit;
    padding: 15px 20px;
    overflow-y: scroll;
    height: calc(100% - 97px);
}

.typing {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #1d1e2d;
    justify-content: center;
}

.typing .reply-for {
    border-radius: 20px 20px 20px 0;
    background-color: #31344b;
    color: #a4aec1;
    position: absolute;
    display: flex;
    align-items: center;
    top: -40px;
    padding: 7px 32px 7px 12px;
    font-size: 12px;
    width: 100%;
    max-width: 300px;
    height: 32px;
}

.typing .reply-for .reply-icon {
    color: cornsilk;
    margin-right: 10px;
    font-size: 14px;
}

.typing .reply-for .reset-reply {
    background-color: #292c41;
    padding: 5px 7px;
    border-radius: 50%;
    font-size: 11px;
    color: azure;
    margin-left: 5px;
    right: 8px;
    cursor: pointer;
    position: absolute;
    transition: all .6s ease-in-out;
}

.typing .reply-for .reset-reply:hover {
    background-color: #82d8c8;
    color: #171822;
}

.typing .input .reset {
    position: absolute;
    color: #f1f1f1;
    font-size: 12px;
    padding: 3px 5px;
    right: 15px;
    top: 12px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: #383b53;
    border-radius: 50%;
}

.typing .input .reset:hover {
    background-color: #82d8c8;
    color: #171822;
}

.typing .input {
    padding: 11px;
    max-width: 700px;
    width: 100%;
    display: flex;
}

.typing .inner {
    position: relative;
    flex-grow: 1;
}

.typing .input input {
    width: 100%;
    background-color: #171822;
    padding: 13px 50px 13px 20px;
    color: #a4aec1;
    font-size: 14px;
    border-radius: 20px;
    box-sizing: border-box;
}

.typing .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 110px;
    margin-left: 10px;
}

.typing .buttons .file {
    font-size: 24px;
    cursor: pointer;
    padding: 0px 5px;
    margin: 0px 10px;
    color: #41476c;
    transition: all .6s ease-in-out;
}

.typing .buttons .file:hover {
    color: #a4aec1;
}

.typing .buttons .btn {
    background-color: #484175;
    border: none;
    font-size: 11px;
    font-family: inherit;
    display: flex;
    color: #fff;
    padding: 11px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.typing .buttons .btn:hover {
    background-color: #3e2bba;
}

.list-messages .notification {
    color: #a4aec1;
    font-size: 14px;
    margin: 0 auto;
    width: fit-content;
}

.list-messages .inactive {
    display: none;
}

.list-messages .block {
    display: flex;
    flex-basis: 50px;
}

.list-messages .right,
.list-messages .left {
    width: fit-content;
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px;
}

.list-messages .right {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;
}

.list-messages .left {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;
}

.list-messages .avatar {
    width: 38px;
    height: 38px;
    margin: 0 5px;
}

.list-messages .avatar img {
    object-fit: cover;
    width: 100%;
    height: 38px;
    border-radius: 50%;
}

.list-messages .text .read {
    font-size: 15px;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.list-messages .text .read .blue {
    color: #5747be;
}

.list-messages .text .read .dark {
    color: #424663;
}

.list-messages .left .content {
    margin-left: 0;
    margin-right: auto;
}

.list-messages .left .content .info,
.list-messages .right .content .info {
    display: flex;
    align-items: center;
    color: #a4aec1;
    font-size: 11.5px;
}

.list-messages .left .content .info {
    display: flex;
    justify-content: flex-start;
}

.list-messages .right .content .info {
    display: flex;
    justify-content: flex-end;
}

.list-messages .left .content .info .menu,
.list-messages .right .content .info .menu {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.list-messages .left .content .info .menu:hover,
.list-messages .right .content .info .menu:hover {
    color: #fff;
}

.left .content .info .active .menu-list,
.right .content .info .active .menu-list {
    padding: 6px 10px;
    background-color: #202131;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23px;
    font-size: 12px;
    z-index: 99;
}

.left .content .info .active .menu-list ul li,
.right .content .info .active .menu-list ul li {
    padding: 6px 8px;
    cursor: pointer;
}

.left .content .info .active .menu-list ul li:hover,
.right .content .info .active .menu-list ul li :hover {
    color: #ffffff;
}

.list-messages .left .content .info .active .menu-list .icon,
.list-messages .right .content .info .active .menu-list .icon {
    margin-right: 5px;
}

.list-messages .left .content .info .name,
.list-messages .right .content .info .name {
    margin-right: 5px;
}

.list-messages .left .content .text {
    border-radius: 20px 20px 20px 0;
    background-color: #383b53;
}

.list-messages .right .content .text {
    border-radius: 20px 20px 0 20px;
    background-color: #43359e;
}

.list-messages .left .content .text,
.list-messages .right .content .text {
    padding: 16px 20px;
    font-family: inherit;
    font-size: 13px;
    color: #fff;
    box-shadow: rgba(17, 16, 26, 0.8) 0px 3px 8px;
}

.list-messages .left .content .text {}

.list-messages .left .content .text .reply,
.list-messages .right .content .text .reply {
    padding: 10px 14px;
    margin-bottom: 6px;
    font-family: inherit;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.list-messages .left .content .text .reply {
    background-color: #434766;
    border-left: 3px solid #4b4f70;
    border-radius: 0 14px 14px 0;
}

.list-messages .right .content .text .reply {
    background-color: #5344b7;
    border-left: 3px solid #6655d0;
    border-radius: 0 14px 14px 0;
}

.list-messages .left .content .text .reply span,
.list-messages .right .content .text .reply span {
    font-size: 11px;
    color: #a8afe1;
    margin-bottom: 3px;
}

.list-messages .left .file-info,
.list-messages .right .file-info,
.chat .left .file-info,
.chat .right .file-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 7px 0px 0px;
}

.left .file-info {
    border-top: 1px solid #434764;
}

.right .file-info {
    border-top: 1px solid #5a4abe;
}

.file-info .icon {
    width: 25px;
    margin-top: 8px;
    margin-right: 7px;
    cursor: pointer;
}

.file-info .name {
    color: #a4aec1;
    font-size: 10px;
}