.list-messages {
    font-family: inherit;
    padding: 10px 20px;
    background-color: #141414;
    background-color: olive;
    overflow-y: scroll;
    height: calc(100% - 75px);
}

.typing {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 192, 186);
    padding: 10px 20px;
}

.list-messages .read {}

.list-messages .typing .input {
    display: flex;
}

.list-messages .typing .input input {
    width: 100%;
    background-color: plum;
    padding: 15px;
    color: darkred;
}

.list-messages .typing .buttons {
    background-color: rgb(80, 31, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-messages .typing .buttons .file {
    font-size: 24px;
    cursor: pointer;
    padding: 0px 5px;
    margin: 0px 10px;
    color: rgb(206, 206, 206);
}

.list-messages .typing .buttons .file:hover {
    color: antiquewhite;
}

.list-messages .typing .buttons .btn {
    background-color: rgb(45, 3, 112);
    border: none;
    display: flex;
    color: azure;
    padding: 9px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.list-messages .typing .buttons .btn:hover {
    background-color: rgb(66, 12, 153);
}

.list-messages .menu {
    background-color: rgb(63, 63, 63);
    border-radius: 6px;
    padding: 10px 12px;
    position: absolute;
    top: -30px;
}

.list-messages .menu .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-messages .menu span {
    font-family: inherit;
    font-size: 12px;
}

.list-messages .menu .icon {
    color: #fff;
    font-size: 16px;
    margin: 4px 8px;
}

.list-messages .inactive {
    display: none;
}

.list-messages .right,
.list-messages .left {
    width: fit-content;
    margin: 20px;
    position: relative;
    cursor: pointer;
}

.list-messages .right .info,
.list-messages .left .info {
    padding: 16px 10px;
    color: #fff;
    font-size: 13px;
}

.list-messages .right {
    background-color: #6a44ff;
    margin-left: auto;
    margin-right: 0;
    border-radius: 14px 14px 2px 14px;
}

.list-messages .left {
    background-color: #29292c;
    margin-left: 0;
    margin-right: auto;
    border-radius: 14px 14px 14px 2px;
}

.list-messages .replied {
    background-color: cornflowerblue;
    padding: 8px 10px;
    border-left: 2px solid #6a44ff;
}

.list-messages .file-info {
    background-color: rgb(63, 63, 63);
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 0 0 6px 6px;
}

.list-messages .file-info .icon {
    width: 25px;
    margin-right: 7px;
}

.list-messages .file-info .name {
    color: #fff !important;
    font-size: 10px;
}

.list-messages .ext-info {
    background-color: aqua;
    display: flex;
}

.list-messages .ext-info .time {
    background-color: mediumvioletred;
}

.list-messages .ext-info .read {
    background-color: rgb(134, 21, 199);
}