.filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-left: 10px;
}

.item {
    width: fit-content;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item .title {
    color: #fff;
    font-family: inherit;
    padding: 10px 0 5px;
}

.reset-filter {
    border: 2px solid #2a2a42;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 6px;
    font-weight: 300;
    color: #b0bbd9;
    font-family: inherit;
    font-size: 13px;
    transition: all .5s ease-in-out;
}

.reset-filter:hover {
    background-color: #e94949;
    border: 2px solid #e94949;
    color: #fff;
}

.reset-filter .icon {
    font-size: 17px;
    margin-right: 5px;
}

.filter select,
.filter option {
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    color: cadetblue;
}