.chats {
    display: flex;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 1320px;
    height: 85vh;
    overflow: hidden;
}

.chats .conversations {
    background-color: #10111a;
    width: 300px;
    overflow-y: scroll;
    padding: 12px;
}

.chats .messages {
    background-color: #181825;
    background-image: url('../../../../assets/pics/chat-texture.png');
    flex-grow: 1;
}

@media (max-width: 850px) {

    .chats .conversations {
        background-color: #10111a;
        width: 300px;
        overflow-y: scroll;
        padding: 12px;
        position: absolute;
        z-index: 99;
    }

    .chats .messages {
        background-color: #181825;
        background-image: url('../../../../assets/pics/chat-texture.png');
        width: 100%;
    }
}