.chats {
    display: flex;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 1320px;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

.chats .conversations {
    width: 0;
    overflow: hidden;
    transition: all .5s ease;
}
.chats .active {
    background-color: #10111a;
    flex: 0 0 320px;
    overflow-y: scroll;
    position: relative;
}
.chats .messages{
    flex: 1 1 25%;
    background-color: #181825;
    background-image: url('../../../../assets/pics/chat-texture.png');
}

.chats .messages .chat-info {
    width: 100%;
    padding: 15px;
    background-color: #975A5E;
    display: flex;
}

.chats .messages .chat-info .toggle {
   display: none;
}


@media (max-width: 850px) {

    .chats .messages .chat-info .toggle {
        display: flex;
    }

    .chats .burger {
        width: 40px;
        height: 40px;
        background-color: #4b50d4;
        position: absolute;
        z-index: 999;
        left: 330px;
    }

    .chats .messages {
        background-color: #181825;
        background-image: url('../../../../assets/pics/chat-texture.png');
        flex-grow: 1;
    }

}