.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1320px;
    margin: 0 auto;
}

.page404 {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page404 .error {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    text-transform: uppercase;
    opacity: .6;
}

.page404 .error .number {
    color: #ffffff;
    line-height: 85px;
    font-size: 95px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

.page404 .error .text {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: 300;
    font-size: 17px;
}

.page404 .video {
    width: 100%;
    max-width: 1700px;
}

.page404 .vignette {
    position: absolute;
    max-width: 1700px;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.video-layer {
    width: 100%;
    max-width: 1700px;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}

@media (max-width: 1000px) {
    .page404 .error .number {
        font-size: 70px;
        line-height: 70px;
    }
    .page404 .error .text {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .page404 {
        align-items: flex-end;
    }
    .page404 .video {
        width: 100%;
        max-width: 1600px;
    }
    .page404 .error .number {
        font-size: 80px;
        line-height: 80px;
    }
    .page404 .error .text {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .page404 {
        align-items: flex-end;
    }
    .page404 .error .number {
        font-size: 70px;
        line-height: 70px;
    }
    .page404 .error .text {
        font-size: 14px;
    }
    .page404 {
        height: 300px;
    }
    .page404 .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 1600px;
    }
}