* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #13131e;
    font-family: "Rubik", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #282942 #161622;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}