.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1320px;
    margin: 0 auto 30px;
    padding: 0 20px;
}

.admin-inner {
    width: 100%;
    .menu {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        margin-bottom: 25px;
        .item {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .icon {
                background-color: #181825;
                width: 100%;
                height: 110px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: all .5s ease-in-out;
                color: #7981b7;
                border-radius: 6px;
                box-shadow: 0 2px 4px rgba(2, 1, 5, 0.3);
                &:hover {
                    transform: scale(1.05);
                    color: #fff;
                    background-color: #43359e;
                    box-shadow: 0 4px 4px 0 rgba(66, 41, 191, 0.06), 0 8px 8px 0 rgba(66, 41, 191, 0.06), 0 16px 16px 0 rgba(66, 41, 191, 0.06), 0 32px 32px 0 rgba(66, 41, 191, 0.06), 0 64px 64px 0 rgba(66, 41, 191, 0.06), 0 128px 128px 0 rgba(66, 41, 191, 0.06);
                }
            }
        }
    }
    .menu .item .unread {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #43359e;
        font-family: inherit;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        border-radius: 50%;
        z-index: 99;
        animation: pulse 2s infinite;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(146, 125, 238, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(163, 145, 245, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(119, 92, 239, 0);
    }
}

.admin-inner .menu .item .icon span {
    margin-top: 3px;
    font-size: 11px;
    font-family: inherit;
}

.admin-inner .menu .item .icon .img {
    font-size: 33px;
}

.admin-inner .statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.admin-inner .statistics .item {
    .icon {
        color: #56d1bf;
        font-size: 20px;
        position: absolute;
    }
    .count {
        color: #bac4da;
        text-align: center;
        font-size: 50px;
        font-family: inherit;
        font-weight: bold;
    }
    .title {
        text-align: center;
        font-size: 12px;
        color: #bac4da;
    }
}

.pink {
    background-color: #27283b;
    box-shadow: 0 2px 4px rgba(2, 1, 5, 0.3);
    padding: 20px;
    position: relative;
    transition: all .5s ease-in-out;
    border-radius: 6px;
}

@media (max-width: 1000px) {
    .admin-inner .menu {
        grid-template-columns: repeat(3, 1fr);
    }
    .admin-inner .statistics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .admin-inner .menu {
        grid-template-columns: repeat(2, 1fr);
    }
    .admin-inner .statistics {
        grid-template-columns: repeat(2, 1fr);
    }
}